.nav2 {
    width: 100%;
    padding: 25px 100px;
    z-index: 100;
}

.nav2_active {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav2_left img {
    width: 200px;
    height: 80px;
}

.nav2_center {
    display: flex;
    gap: 50px;
    font-size: 1.2rem;
    align-items: center;
}

.nav_underline {
    display: inline-block;
    position: relative;
    color: gold;
    font-weight: 600;
}

.nav_underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #305349;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav_underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    text-decoration: none !important;
}


.nav2_center svg {
    color: grey;
    cursor: pointer;
}

.nav2_center button {
    background-color: transparent;
    border: none;
}


.menu {
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: 200;
    position: absolute;
    background: #053464;
    top: 0;
    left: 0;
    padding: 50px;
}

.menu .top-bar {
    display: flex;
    position: relative;
    top: 0;
    justify-content: flex-end;
    width: 100%;
    color: #FFE074;
}

.menu .fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    gap: 20px;
    font-size: 25px;
    color: #FFE074;
    font-weight: 700;
}


.hidden {
    display: none;
}

.search_hidden {
    display: none !important;
}

.ham button {
    background-color: transparent;
    border: none;
    color: #305349;
}

.search-window {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    background: #000;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-grid-boxes {
    width: fit-content;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.search-box {
    padding: 20px;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    transition: 600ms all ease-in-out;
}

.search-box svg {
    width: 60px;
    height: 60px;
    transition: 600ms all ease-in-out;
}

.search-box h3 {
    font-size: 25px;
    color: #FFE074;
}

.search-window .cross {
    position: absolute;
    top: 50px;
    right: 80px;
    width: 40px;
    height: 40px;
    color: white;
    cursor: pointer;
}

.hover_search_btn {
    position: absolute;
    z-index: 12;
    color: #fafafa;
    bottom: 50px;
    right: 50px;
    border-radius: 100%;
    background: gray;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.hover_search_btn button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
}

.search-box:hover svg {
    fill: #FFE074;
    scale: 1.2;
}

@media (max-width:1200px) {
    .nav2 {
        padding: 20px 50px;
    }

    .nav2_center {
        gap: 20px;
    }

    .search-window {
        width: 100%;
    }

    .search-grid-boxes {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 50px;
        padding-top: 180px;
    }
}

@media (max-width:900px) {

    .nav2_center,
    .nav2_right {
        display: none;
    }

    .ham {
        display: block;
        z-index: 100;
        color: #fff;
    }

    .nav .menu {
        display: block;
        z-index: 200;
    }

    .search-window {
        width: 100%;
        height: fit-content;
    }

    .search-grid-boxes {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding-top: 150px;
        gap: 20px;
    }

    .search-box {
        width: 200px;
        height: 200px;
    }

    .hover_search_btn {
        display: block !important;
    }
}

@media (max-width:500px) {
    .search-grid-boxes {
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding-top: 150px;
        gap: 20px;
    }

    .search-box {
        width: 200px;
        height: 200px;
    }

    .hover_search_btn {
        display: block !important;
    }
}